

@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" xmlns="https://www.w3.org/1999/xhtml">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HRMS - Login</title>

    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        // Shared ID
        gtag('config', 'UA-118965717-3');
        // Bootstrap ID
        gtag('config', 'UA-118965717-5');</script>


    @*<style>
    body {
    background-image: url('../.././images/login.png');
    background-position: left;
    background-repeat: no-repeat
    }
    </style>*@

</head>
@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { style = "width: -webkit-fill-available;" }))
{
    @Html.AntiForgeryToken()
    <body class="app flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="clearfix">
                        <h1 class="display-3 mr-4">Thank you!</h1>
                        <p>
                            <h4 class="pt-3">An email has been sent to your register email address with further instruction on how to reset your password.</h4>
                        </p>
                        <p class="text-muted">Please complete this process within the next 1 hour. Otherwise your reset token will be expire, and you will be asked to restart the password reset process.</p>
                        <p class="text-muted"></p>
                        <button class="btn btn-link px-0" id="login" type="button">Click here to go back to login page.</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
}
<script type="text/javascript">

    $(document).ready(function () {

        $("#forgotPassword").click(function () {
            window.location.href = "/Login/ForgotPassword";
        });

    });

</script>
</html>