@{
    ViewData["Title"] = "Home Page";
    @if(ViewBag.usertypeId != 3)
        Layout = "~/Views/Shared/_Layout.cshtml";
    else
        Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="text-center">
 
</div>
