@model HRMS.Models.ReportFilter

@{
    ViewData["Title"] = "Food Report Of Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/content/jquery-ui.min.css" />
    @*  <script>
    $(function() {
    $(".datepicker").datepicker({
    todayBtn: "linked",
    language: "it",
    autoclose: true,
    todayHighlight: true,
    dateFormat: 'dd/mm/yyyy'
    });
    }
    );

    $(document).ready(function() {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!

    var yyyy = today.getFullYear();
    if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm } today = mm + '/' + dd + '/' + yyyy;

    $('#theDate').attr('value', today);

    alert($('#theDate').attr('value'));
    });

    </script>*@
    <style>
        .div {
            background: #f1f1f1;
            width: 550px;
            height: auto;
            padding: 50px;
            border-radius: 15px;
            margin: 0 auto;
        }

        .inner-form {
            padding: 0px 48px 48px 326px;
        }

        .save-btn-form > input {
            width: 200px;
            padding: 15px 0px;
            border-radius: 5px;
            outline: none;
            border: none;
            background: #164665;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
        }

            .save-btn-form > input:hover {
                background-color: #0069d9;
                border-color: #0062cc;
            }

        .check-boxes {
            justify-content: initial;
            align-items: center;
            gap: 20px;
        }

    </style>

</head>
<body>

    @*<form asp-action="Print">*@
    <div asp-validation-summary="ModelOnly"></div>
    <div class="col-md-12">
        <h4 class="mb-3">@ViewData["Title"]</h4>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="ReportDate" class="control-label"></label>
                <input type="date" name="date" id="theDate" asp-for="ReportDate" class="form-control" />
                <span asp-validation-for="ReportDate" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3" style="margin-top:22px">
            <div class="form-group" style="margin-bottom:0px">
                <label class="control-label"></label>
                <input type="submit" class="btn btn-success" value="Filter" onclick="CreateFoodReport()" />
            </div>
        </div>
    </div>

    <table id="tblFoodOrder" class="table">
        <thead>
            <tr>
                <th>Particular</th>
                <th>Qty</th>
                <th>Rate</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    @*</div>*@

    @*</div>*@
</body>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };

    </script>
}
<script>
    function CreateFoodReport() {

        var totalQuantity = 0;
        var GrandTotalAmount = 0;
        var totalAmount = 0;

        var edate = $("#theDate").val();
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: '/ItemOrder/CreateFoodReport',
            data: { "date": edate },
            success: function (result) {

                var response = JSON.parse(result);
                if (response.length > 0) {
                    var table = $("#tblFoodOrder tbody");
                    var name = "";
                    $.each(response, function (index, element) {
                        debugger
                        var row = $(this).closest('tr');
                        var prev = row.prev();
                        var prevempname = prev.prevObject.prevObject[0].employeeName;
                        name = element.employeeName;
                        if (prevempname != name) {
                            var item = element.ItemName;
                            var qty = element.Quantiy;
                            var amount = element.Amount;
                            table.append("<tr><td>" + item + "</td><td>" + qty + " </td><td> " + amount + " </td></tr>");

                            totalAmount = element.Quantiy * element.Amount;
                            totalQuantity += element.Quantiy;
                        }
                    });

                    GrandTotalAmount += totalAmount;
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>
</html>
